.cart{
    text-align: center;
    background-color: #A9A9A9;
    position:sticky ;
    top: 10px;
    padding: 10px;
    border-radius: 20px;
}
.cart button {
    margin: 2px 10px;
    padding: 10px;
    border: none ;
    border-radius: 10px;
}